import panda as pd

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(grades.csv)

NameError: name 'grades' is not defined

NameError: name 'b' is not defined

In [4]:
df=pd.read_csv('grades.csv')

In [5]:
df.head()

      Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90

 <a href=https://www.cognitiveclass.ai>Cognitive Class</a>